h1,h2
{
  font-weight:bold;
}

h1 a
{
  text-decoration:none;
}

.Group
{
  border-radius:1em;
}

.GroupTitle
{
  border-radius:0.5em;
  font-size: 1.2em;
  font-weight: bold;
  padding-left:0.5em;
}

.GroupContent
{
  
}

.Battery
{
  margin-top:0.5em;
  padding-top:0.5em;
  width: 20em;
  height: 6em;
  border-radius:0.5em;
  text-align:center;
  padding-bottom:0.5em;
}

.BatteryCapacityIcon
{
  padding-left:0.5em;
  padding-right:0.5em;
  width:6em;
  height:6em;
  float:left;
}

.BatteryContext
{
  font-weight:bold;
  text-align:left;
  width:13em;
}

.BatteryContext *
{
  padding:0em;
  text-align:center;
}

.BatteryRegNr
{
  font-size:1.3em;
  font-weight:bold;
}

.BatteryName
{
  font-size:0.8em;
  font-weight:normal;
  padding-bottom:0.25em;
}

.BatteryTechnology, .BatteryStatus
{
  font-size:0.8em;
  padding-bottom:0.5em;
}