{% comment %}
    AkkuVS – A rechargeable battery management system
    Copyright (C) 2014  Moritz Strohm <ncc1988@posteo.de>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% load static %}

<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>AkkuVS</title>
    <link rel="stylesheet" href="{% static "akkuvs/BasicStyle.css" %}" />
    <link rel="stylesheet" href="{% static "akkuvs/ColorScheme.css" %}" />
  </head>
  <body>
    <nav>
      <span class="Logo NavPath"><a href="{% url "akkuvs-index" %}">AkkuVS</a></span>
      {% block page_path %}{% endblock %}
    </nav>
    <div>
      {% block page_content %}{% endblock %}
    </div>
  </body>
</html>