{% extends "akkuvs/base.xhtml" %}
{% comment %}
    AkkuVS – A rechargeable battery management system
    Copyright (C) 2014  Moritz Strohm <ncc1988@posteo.de>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block page_path %}Battery list{% endblock %}
{% block page_content %}
<table>
  <tr>
    <th>ID</th>
    <th>RegNr</th>
    <th>Name</th>
    <th>Capacity</th>
    <th>Technology</th>
    <th>Size</th>
    <th>Registration Date</th>
  </tr>
  {% for Battery in BatteryList %}
  <tr>
    <td>{{Battery.id}}</td>
    <td>{{Battery.registration_number}}</td>
    <td>{{Battery.name}}</td>
    <td>{{Battery.capacity}}</td>
    <td><a href="">{{Battery.technology}}</a></td>
    <td><a href="">{{Battery.size}}</a></td>
    <td>{{Battery.registration_date}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}