{% extends "akkuvs/base.xhtml" %}
{% comment %}
    AkkuVS – A rechargeable battery management system
    Copyright (C) 2014  Moritz Strohm <ncc1988@posteo.de>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block page_content %}
{% if form.errors %}
<h3>Login<h3>
<p>Login failed!</p>
{% endif %}

<div>{% block message %}{% endblock %}</div>
{% block form %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <label for="username">User name:</label>
  <input type="text" name="username" />
  <br/>
  <label for="password">Password:</label>
  <input type="password" name="password" />
  <br/>
  <input type="submit" value="Login"/>
  <input type="hidden" name="next" value="{%url 'akkuvs-index' %}" />
  <p>WARNING: password is transmitted unencrypted at the moment unless you use HTTPS!!</p>
</form>
{% endblock %}
{% endblock %}