{% extends "akkuvs/base.xhtml" %}
{% comment %}
    AkkuVS – A rechargeable battery management system
    Copyright (C) 2014  Moritz Strohm <ncc1988@posteo.de>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block page_path %}Battery{% endblock %}
{% block page_content %}
{% if battery %}
<h1>Battery {{battery.registration_number}}</h1>
<table>
  <tr><th>Name:</th><td>{{battery.name}}</td></tr>
  <tr><th>Voltage:</th><td>{{battery.voltage}}</td></tr>
  <tr><th>Capacity:</th><td>{{battery.capacity}} mAh</td></tr>
  
  {% if measured_capacity %}
  <tr><th>Measured capacity:</th><td><span>{{measured_capacity}} mAh</span>
    <img src="{% url 'akkuvs-show_battery_capacity_svg' battery.id %}" type="image/svg+xml"></img>
  </td></tr>
  {% endif %}
  
  {% if battery.charged %}
    <tr><th>Charge status:</th><td class="Charged">charged</td></tr>
  {% else %}
    <tr><th>Charge status:</th><td class="Discharged">discharged</td></tr>
  {% endif %}
  
  <tr><th>Cells:</th><td>{{battery.cells}}</td></tr>
  <tr><th>Technology:</th><td>{{battery.technology}}</td></tr>
  <tr><th>Size:</th><td>{{battery.size}}</td></tr>
  <tr><th>Registration date:</th><td>{{battery.registration_date}}</td></tr>
  
</table>
{% else %}
<p>You haven't selected any battery! Thus, this page is empty!</p>
{% endif %}
{% endblock %}